// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$seafoam: #408080;
$turqoise: #00ffff;
.sign-out {

  position: fixed;
  bottom: 5px;
  right: 5px;

  background: white;
  border-width: 3px;
  border-color: black;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 100%;

  &:hover{

   background: $seafoam;
   color: $turqoise;

  }


}
