// Place all the styles related to the subs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link-form{

  margin: 25px 0px;

  h3 {

    margin: 0px;
  }

}

#subs-index {

  h1{
    font-style: italic;
    font-size: 250%;
  }

  width: 500px;
  margin: auto;
  text-align: center;


}

.ind-sub{

  margin: 10px 0px;

}


